.top-menu{
    display: grid;
    align-items: center;
}

.desktop {
    grid-template-columns: 2fr 1fr 2fr;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    justify-items: end;
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 2;
}

/* .sticky + .content {
padding-top: 60px;
} */

.icon {
    justify-self: center;
}

.hamburger {
    width: 30px;
    height: 4px;
    background: #516693;
    opacity: 0.8;
    position: absolute;
    transition: 0.5s;
    -webkit-tap-highlight-color:  rgba(0, 0, 0, 0); 
}

.hamburger:before,
.hamburger:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background: #516693;
    transition: 0.5s;
}

.hamburger:before {
    top: -8px;
}
.hamburger:after {
    top: 8px;
}

.icon.active .hamburger {
    background: rgba(0,0,0,0);
    transform: rotate(90deg)
}

.icon.active .hamburger:before {
    top: 0;
    transform: rotate(225deg)
}

.icon.active .hamburger:after {
    top: 0;
    transform: rotate(135deg)
}

.contact-header {
    justify-self: center!important;
}

.about-header {
    white-space: nowrap;
}

.info > * {
    text-decoration: none;
}

@media (min-width: 700px) and (max-width: 850px) {
    .info {
        grid-gap: 0;
    }
}

@media (min-width: 1000px) {
    .desktop {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1400px) {
    .desktop {
        grid-template-columns: 1fr 3fr 1fr;
    }
}