/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color:  rgba(0, 0, 0, 0)!important; 
}

body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    min-width: 250px;
    margin: 0;
}

/* test */

/* button{
    position: absolute;
    background: none;
    border: none;
    transition: background-color 0.3s, color 0.3s; 
    text-transform: uppercase;
}

button:hover { 
    font-weight: 600;
    -webkit-tap-highlight-color: transparent;
}

button:focus {
    outline: none;
} */

/* TYPOGRAPHY */

h1 {
    font-size: 3 rem;
}

h2 {
    font-size: 2 rem;
    color: #707070;
    padding-bottom: 15px;
}

h3 {
    padding-bottom: 1em;
}

h4 {
    color: #707070;
    padding: 0 1em 0 1em;
    justify-self: end;
}
